@font-face {
    font-family: roboto;
    src: url(fonts/Roboto/Roboto-Black.ttf);
}
body{
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin:0;
    padding:0;
}

.toplinks{
    min-width: 300px;
    display:flex;
    gap: 10px;
    justify-content: space-between;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
}

.links{
    text-decoration: none;
    
}

.top{
    display: flex;
    justify-content: space-around;
}

.midtop{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content{
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.midbot{
    display: flex;
    justify-content: space-around;
    align-items: center;
   
    background-color: #e5e7eb;
}

.testimonial{
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    font-weight: lighter;
    padding-right: 10px;
    padding-left: 10px;
}

.quote{
    margin: 50px;
}

.quotee{
    display: flex;
    justify-content: right;
    padding-right: 10px;
    padding-left: 10px;
}

.header, .top, .footer{
    background-color: #1f2937;
    display: flex;
}
h1{
    font-size: 48px;
    font-weight: 800;
    
}

.bot{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cta{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    min-width: 400px;
    min-height: 100px;
    background-color: #3882f6;
    margin: 50px;
    border-radius: 10px;
}

img{
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
    
}

.hero, .links  {
    color: #f9faf8;
}

.foot_text{
    color: #f9faf8;
}

.footer{
    justify-content: space-around;
    align-items: center;
}

